
<h1>Version para moviles !!</h1>



<% title "mobileMail" %>
<ul>

      <li class="arrow">

       <%= link_to "Version sobremesa", root_url(:mobile => 0), :class => "", :rel => "external" %>

      </li>

  <li class="arrow">
    <%= link_to "Informacion", :controller => :home, :action => :informacion %>
  </li>
</ul>

<p class="info">Prueba de interfaz</p>

<ul>
  <li class="arrow">Clase flecha</li>
  <li class="blueButton">Boton azul</li>
  <li class="link"><a href="http://www.google.es">Enlace externo (Google)</a></li>

  <li>
    <h3>Formulario</h3>
  <form>
    <ul>
      <li>
        <input placeholder="Algo" type="text" name="algo" id="algo"/>
      </li>
      <li>
        <input name="" type="button" value="Pulsame!" id=""/>
      </li>
      <li class="toggle">
        <input type="checkbox" name="algo" value="Interruptor"/>
      </li>
    </ul>
  </form>
  </li>


</ul>

<ul>
<li>
  <p>Numeros</p><small class="counter">3</small>
</li>
</ul>


